<div class="wrapper">
  <div class="banner">
    <img src="assets/test.jpg" alt="" />
  </div>
  
  <div class="offer-wrapper card">
    <div><h3></h3></div>
    <div class="deal-grid">
      <app-cashback-by-sites-item class="card"></app-cashback-by-sites-item>
      <app-cashback-by-sites-item class="card"></app-cashback-by-sites-item>
      <app-cashback-by-sites-item class="card"></app-cashback-by-sites-item>
      <app-cashback-by-sites-item class="card"></app-cashback-by-sites-item>
    
    </div>
  </div>
</div>

https://linksredirect.com/?pub_id=22030CL19826&subid=userso1233&source=linkkit&url=https%3A%2F%2Fpaytm.com%2F